{% extends 'base.html' %}

{% block title %}Home{% endblock title %}
{% load static %}
{% block content %}
<div class="homeDiv">
<div class="homeCont">
    
    <h1 class="pageTitle">Welcome!</h1>
    <h2>Search from over 2 million+ recipes!</h2>

    <form method="post" action="{% url 'results' %}">
        {% csrf_token %}
        <div class="input-group mb-3 searchDiv">
            <input placeholder="Enter Recipe Search" type="text" class="form-control searchInput" name="search_query" id="search_query" required>
            <input class="btn btn-outline-secondary" type="submit" id="button-addon2" value="Search">
        </div>
    </form>
    
</div>
</div>
<div class="randomCont">
    <div  class="randomDiv">
        <h2 class="randomTitle">Today's Recomendations:</h2>

        <div id="recipeCarousel" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                {% for recipe in recipes_to_display %}
                    {% if forloop.counter0|divisibleby:2 %}
                        {% if forloop.counter0 == 0 %}
                            <div class="carousel-item active">
                                <div class="row">
                        {% else %}
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="row">
                        {% endif %}
                    {% endif %}
                    <div class="col-md-6">
                        <div class="card">
                            <a class="cardA" href="{% url 'details' recipe.id %}">
                        
                                <img src="{{ recipe.image_url }}" class="card-img-top cardImage" alt="{{ recipe.title }} image" style="height: 11rem;">
                                
                                <div class="card-body">
                                    <h5 class="card-title">{{ recipe.title }}</h5>
                                </div>
                            </a>
                        </div>
                    </div>
                    {% if forloop.counter0|add:1 == forloop.last or forloop.last %}
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#recipeCarousel" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#recipeCarousel" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>
</div>


{% endblock content %}
